@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* Variable CSS */
:root {
    /* color */
    --first-color: #008156;
    --second-color: #efb11c;
    --body-color: black;

    /* font */
    --body-font: 'Nanum Myeongjo', serif;
    --h1-font-size: 2rem;       /* 32px*/
    --h2-font-size: 1.5rem;     /* 24px*/
    --h3-font-size: 1.25rem;    /* 20px*/
    --normal-font-size: 1rem; /* 16pxpx*/
    --small-font-size: 0.8rem; /* 16pxpx*/
    --font-regular: 400; /* 16pxpx*/
    --font-bold: 700; /* 16pxpx*/
    --font-extra-bold: 800; /* 16pxpx*/
}
/* -- 가 모두 변수 */

body {
    font-family: var(--body-font);
    color: var(--body-color);
}

/* nav */
header {
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    height: 44px;
}

.nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

